@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  font-family: lato,sans-serif;
  padding: 0;
  background-color: lightpink;
}

h1{
/*  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;*/
  font-family: lato,sans-serif;
  color:rgb(229, 236, 126);
  text-align:center;font-size:230% ;
}


.heading{
  font-size:1.25em; 
}

button{
  color: black;
  font-family: lato,sans-serif;
  font-size: 20px;
}

button:hover{
  background-color:none;
}

p{
  color:white;
  font-size:30px;
}
#loginLabel{
  color: black;
}
.login-page {
  width: 360px;
  padding: 12% 0 0;
  margin: auto;
  
}
.form {
  position: relative;
  z-index: 1;
  background: rgb(255,255,255,1);
  border-radius:19%;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 41px;
  padding-bottom: 5px;
  padding-top:10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
#sub:hover{
 color: #43A047;
}


.b{
  font-size:30px;
  font-family:cursive;
  border: 0;
  background-color: transparent;
  color: black;
  padding: 0.25em;
  font-family: lato,sans-serif;
  font-size: 25px;
  display: inline;
}

.b:hover{
  color: #4FC3F7;
}

.rightb{
  float:right;
  background:transparent;
  color: black;
  font-size: 30px;
  border: 0;
  font-family: lato,sans-serif;
  font-size: 25px;
  padding: 0.25em;
}

.rightb:hover{
  background-color:"yellow";
}

.dropbtn{
  background:transparent;
  color: black;
  padding: 0.25em;
  font-size: 30px;
  border: 0;
  font-family: lato,sans-serif;
  font-size: 25px;
}

.dropbtn:hover{
  cursor: pointer;
}


#heading{
  color:#1556EB;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left:39.1%;
  background-image: linear-gradient(#96FFFF, #C8EFF4)
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  font-family: cursive;
  display: none;
  position: absolute;
  background-color:rgba(255,255,255,1);
  min-width: 200px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content a:hover{
  background-color: #4FC3F7;
  border-radius: 5px;
  font-size: 19px;
  color: white;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.menubar{
  color: black;
  padding-top: 1em;
  padding-bottom: 10px;
  background-color: white;
}

#right_pos{
  float:right;
  background:transparent;
  font-color: black;
  padding: 1px;
  font-size: 30px;
  border:1px solid black;
}

#left_pos{
  float:left;
  background:transparent;
  color:black;
  padding: 30px;
  font-size: 30px;
  border:none;
}

a{
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75em;
}

a:hover{
  color: #4FC3F7;
}

a.heading:hover{
  color: black;
}


.card{
  box-shadow: 0 4px 8px 0 rgba(255,165,0,0.36);
  transition: 0.3s;
  width: 40%;
  float: left;
  padding: 5px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

.card:hover{
  box-shadow: 0 8px 16px 0 rgba(255,165,0,0.5);
}

.container{
  padding: 2px 16px;
}

.flip-card{
  background-color: transparent;
  width: 380px;
  height: 380px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px;

}

img, iframe{
  border-radius: 10px;
}

.videoContent{
  position: center;
  padding-left: 200px;
  padding-top: 100px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front{
  background-color: #bbb;
  color: black;
  border-radius: 5px;
}

/* Style the back side */
.flip-card-back{
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.feedHeading{
  margin-top: 50px;
  padding-left: 30px;
  color: white;
}

.feedMajor{
  background-color: white;
  padding-left: 10px;
  /*border-radius: 5px;*/
  overflow: hidden;
  margin: 50px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.homeBody{
  background-color: #FA1E44;
}


#Sign-In{ 
  margin-top:150px;
  margin-bottom:150px;
  margin-right:150px;
  margin-left:450px;
  border:3px solid orange;
  padding:9px 35px;
  background:rgba(255, 102, 0, 0.952);
  width:400px;
  border-radius:20px;
  box-shadow: 7px 7px 6px;
}

#button1{
  border-radius:10px;
  width:100px;
  height:40px;
  background:yellow;
  font-weight:bold;
  font-size:20px;
}

#Sign-Up{
  margin-top:150px;
  margin-bottom:150px;
  margin-right:150px;
  margin-left:450px;
  padding:9px 35px;
}

.containerChatApp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.userSettings {
    margin-bottom: 20px;
}

.chat {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chat #chatOutput {
    overflow-y: scroll;
    height: 280px;
    width: 100%;
    border: 1px solid #777;
    background-color: white;
}

.chat #chatOutput p {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid #bbb;
    word-break: break-all;
}

.chat #chatInput {
    width: 75%;
}


#chatSend{
    width: 25%;
    background-color: yellow;
}

.chatAppModule{
  background-color: #4FC3F7;
  padding: 50px;
}

